html, body, #root  {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-image: url("./assets/images/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


* {
	box-sizing: border-box;
	font-family: 'Georama', sans-serif !important;

	color: #ffffff;
	letter-spacing: 0.6px;
}

.routerWrapper {
	display: flex;
	flex-grow: 1;
}

.TransitionGroupStyle {
	display: flex;
	flex-grow: 1;
	position: relative;
}

.TransitionGroupStyle > div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 400ms ease-in-out;
}

.fade-exit {
	opacity: 0;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 400ms ease-in-out;
}

@keyframes scan {
	0%        { background-position: 0 -100vh; }
	35%, 100% { background-position: 0 100vh; }
}

ul, li, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

@keyframes evolutionNFT {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.9);
		opacity: 0.1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
